.wrapper {
	position: relative;
	width: 100%; 
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

section {
  height: 100vh;
  background-color: rgba(0,0,0,0.31);
  min-width: 940px;
  min-height: 650px;
	overflow: hidden;
  @include tablets
	{
		max-width: $tablets;
	}
  @include phone
  {
  		max-width: $phone;
  }
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0;
	font-weight: normal;
}

.container
{
	margin: 0 auto;
	position: relative;
	max-width: 940px;
	width: 100%;
	display: flex;
	flex-direction: column;
}