@font-face {
font-family: "Ubuntu";
src: url("../fonts/Ubuntu-Regular.ttf");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Gagalin";
src: url("../fonts/Gagalin-Regular.otf"); /* Для современных браузеров */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Lifehack";
src: url("../fonts/Lifehack Medium.otf"); /* Для современных браузеров */
font-weight: normal;
font-style: normal;
}