.sidebar
{
	position: fixed;
	top: 12%;
	right: 5%;
	color: #fff;
	z-index: 2;
	@include tablets
	{
		display: none;
	}
}
.ul
{
	display: flex;
	flex-direction: column;
}
.sidebar-li
{
	margin-top: rem(10px);
}

.a
{
	display: block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}
.wrapper
{
	z-index: 1;
}